* {
	font-family: "poppins", sans-serif;
}
:root {
	--gold: rgb(217, 182, 0);
	--dark: rgb(36, 36, 36);
	--basic: rgb(57, 0, 0);
	--white: rgb(255, 255, 255);
	--gray: rgb(248, 248, 248);
	--gold: #d9b600;
	--dark: #242424;
	--basic: #390000;
	--white: #ffffff;
	--gray: #f8f8f8;
	--transition: all 0.4s ease;
}
/* ===== NAVBAR =====*/
.nav-link:hover {
	color: var(--basic) !important;
	opacity: 0.75;
}
.nav-link::after {
	content: "";
	display: block;
	border: var(--basic) 1px solid;
	border-radius: 10px;
	width: 0%;
	opacity: 0;
	transition: var(--transition);
	margin: auto;
	margin-top: 0.1em;
}
.nav-link:hover::after {
	width: 80%;
	opacity: 1;
}
.navbar-brand {
	font-family: "Times New Roman", Times, serif;
}
.btn-down {
	background-color: var(--white);
	bottom: 25px;
	border: var(--gold) 5px solid;
	border-top: white 5px solid;
}




/* RESPONSIVE SETTINGS*/
@media screen and (max-width: 992px) {
	.nav-link:hover::after {
		width: 0%;
		opacity: 0;
	}
}
